# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Learn how to evaluate arithmetic expressions in Python.
- Understand how to convert minutes to hours.
- Explore tools and libraries for data analysis.

Some of the popular languages that Data Scientists use are:

1. PYTHON
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter notebook   |
| RStudio            |
| Apache Spark       |

### Below are a few examples of evaluating arithmetic expressions in Python:

- **Addition:** `5 + 3` equals 8
- **Subtraction:** `10 - 7` equals 3
- **Multiplication:** `4 * 6` equals 24

In [30]:
# This a simple arithmetic expression to mutiply then add integers:

result = (3*4)+5
result

17

In [32]:
# This will convert 200 minutes to hours by diving by 60.

minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

Sofia